#header-page {
    background-image: url(../assets/images/background-image-header.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 12px;
    height: 728px;
}

#logo {
    width: 45.85px;
    height: 48px;
}

h1 {
    font: var(--text-heading-logo);
    color: var(--color-pink);
}

#header-page p {
    font: var(--text-light);
}