.main-card {
    background-image: url(../assets/images/background-image-header.png);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

#logo {
    width: 45.85px;
    height: 48px;
}

.main-card h1 {
    margin-block: 16px 4px;
}

.main-card p {
    font: var(--text-light);
    color: var(--color-text-heading);
}